*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
  box-sizing:border-box;
}
*:focus{
  outline:0
}
body,html{
  width:100%;
  position:relative;
  font-family:"Palatino";
  color:#422;
  font-weight:bold;
}
html{
  height:100%;
  background-color:#322;
}
body{
  min-height:100%;
}
main{
  position:relative;
  overflow:hidden;
  background-color:#fdb;
  margin:0 auto;
  padding-top:50px;
  width: 600px;
  box-shadow:0px 0px 100px 0px #544 inset;
}
img{
  display:block;
  border-radius:10px;
  overflow:hidden;
  margin:20px auto;
  box-shadow:0px 0px 10px 0px #888;
}


main, section{
  position:relative;
}
header, nav, header li{
  background-color:#fa8;
}
header{
  position:fixed;
  width:100%;
  height:50px;
  text-align:center;
  top:0;
  left:0;
  z-index:100;
}
header>ul>li{
  display:inline-block;
  position:relative;
  width:24%;
  vertical-align:top;
}
header a, label{
  display:block;
  vertical-align:top;
  text-align:center;
  width:100%;
  height:50px;
  line-height:50px;
}
.dropdown li, label{
  line-height:50px;
  cursor:pointer;
}
header a:hover, label:hover{
  background-color:rgba(255, 255, 255, 0.3);
}

/*hide sections until targeted*/
section{
  display:none;
}
section:target{
  display:block;
}

/*change radio buttons in dropdown*/
.dropdown input[type=radio]{
  height: 1px;
  width: 1px;
  opacity: 0.01;
  position: absolute;
}

.dropdown input[type=radio] + label{
  display:block;
  background-color: #fa8;
}
.dropdown input[type=radio]:hover + label{
  background-color:rgba(255, 255, 255, 0.3);
  color:#eee;
}
.dropdown input[type=radio]:checked + label{
  background-color: red;
  color: blue;
}
.dropdown label + div{
  display:none;
}
.dropdown label:hover + div{
  display:block;
}
