*
{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
  box-sizing:border-box;
}
*:focus
{
  outline:0
}
body,html
{
  width:100%;
  position:relative;
}
html
{
  height:100%;
}
body
{
  min-height:100%;
}
div
{
  position:relative;
}
input, textarea
{
  outline:1px dotted #ccc;
}
input:focus,
textarea:focus
{
  background-color:#ddd;
}
a, button, label
{
  cursor:pointer;
}
